.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: opacity 1s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.4;
}
