.red_line {
  border-color: red;
  border-style: solid;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
    /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 0;
}



/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content {
  display: flex;
  flex-direction: column;
}

.header__main-illustration{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.main-illustration__img {
  width: 765px;
  height: 608px;
}

.header__logo {
  height: 32px;
  width: 183px;
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 1;
  }



.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 1;
}



.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: -1;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 3;
}

.two-columns {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}


.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  padding: 0;

}

.two-columns__brief {
  width: 175px;
}

.paragraph_margin_bottom {
  margin-bottom: 30px;
}


.brief__p_text_editing {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;

}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-title {
  margin-bottom: 20px;
  padding: 0;
}

.section-subtitle {
  margin: 0;
  padding: 0;
}

.table {
  list-style: none;
  width: 1100px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.sectin-title_width {
  width: 60%;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.table__cell_margin_top {
  margin-top: 20px;
}

.section-title__text {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
}

.p__subtitle_font {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 0px;
  margin: 0;
}

.feynman {
  height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__img {
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.feyman__title {
  margin-top: 100px;
  width: 648px;
  z-index: 1;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.feyman__subtitle {
  margin-top: 70px;
  z-index: 1;
  font-size: 36px;
  line-height: 51px;
}

.feyman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  z-index: -1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
  }

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  width: 60%;
  text-align: center;
  }

  .section-subtitle_theme_dark {
    color: white;
    margin-top: 20px;
    width: 60%;
    text-align: center;
  }

  .footer {
    background-color: #1f1f1f;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

.footer__columns {
  min-height: 250px;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
}

.footer__column {

  color: white;
}

.foooter__author {
  color:white;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  margin: 18px 0 18px 0;
}

.autor_margins {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  width: 25%;
  position: relative;
}

.footer__column_content_social {
  width: 25%;
  position: relative;

}

.footer__column-heading {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  right: 0px;
}

.footer__social-icons {
  display: flex;
  flex-direction: column;
  right: 0px;
  position: absolute;
}

.column-heading_margin_bottom {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;

}

.column-heading_margin_bottoms {
  margin-bottom: 16px;
}

.footer__column-link_logo {
  margin-right: 10px;
  float: left;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
